*{
  margin:0;
  padding:0;
  margin-block-start:0;
  margin-block-end:0;
  margin-inline-start:0;
  margin-inline-end:0;
}

@font-face {
	font-family:"Roboto-mono";
	src: url("../src/RobotoMono-VariableFont_wght.ttf");
 }

html, body{
	width:100%;
	height:100%;
	background-color:#000000;
	font-family: Roboto-mono, monospace;
	color: #009000;
	font-size: 12px;
}

a, span{
	cursor: pointer;
	text-decoration: none;
	color: #0c0;
}
a:visited, span:visited{
	background: #ccc1;
}
a:focus, a:hover, a:active, span:focus, span:hover, span:active{
	background: #ccc7;
}

.orders{
	display: none;
}

input{
	border: 0px;
	background-color: #00000000;
	font-family: Roboto-mono, monospace;
	color: #009000;
	/*font-size: medium;*/
	border: 0px;
	margin: 0px;
	outline: none;
}

table{
	width: 100%;
	border: 0;
}

.boxes{
	width: 100%;
}

#spacer{
	height: 200px;
}

#consolemachine{
	position: absolute;
	width: 1000px;
	height: 667px;
	margin-left: 100px;

	/*
        background-color: #ccc1;
        transform-origin: left;
        transform: perspective(699px) rotateY(7deg);*/
	background-image: url("../pic/VT05-.png");
	background-repeat: no-repeat;
}
#consoleoverlay{
	position: absolute;
	width: 1000px;
	height: 667px;
	margin-left: 100px;
	background-image: url("../pic/VT05-_screen2.png");
	background-repeat: no-repeat;
	opacity: 0.5;
}

#consoleframe{
	width: 333px;
	height: 200px;
	position: absolute;
	top: 152px;
	left: 333px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
}

#console{
	background: #ccc0;
}

#prompt{
	background:#ccc0;
	
}